*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#111;

color:white;

font-family:sans-serif;

}

header{

height:100vh;

background:url("images/background.jpg");

background-size:cover;

background-position:center;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

}

header h1{

font-size:55px;

font-family:'Press Start 2P', cursive;

color:#ffd700;

margin-bottom:20px;

}

header p{

font-size:22px;

margin-bottom:40px;

}

button{

padding:18px 40px;

font-size:20px;

background:#ffd700;

border:none;

border-radius:12px;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:scale(1.1);

}

section{

padding:80px;

text-align:center;

}

h2{

font-size:40px;

margin-bottom:50px;

color:#ffd700;

}

.recipe{

display:flex;

justify-content:center;

align-items:center;

gap:30px;

flex-wrap:wrap;

}

.card{

background:#222;

padding:30px;

border-radius:20px;

width:220px;

}

.card img{

width:120px;

}

.arrow{

font-size:50px;

}

.effect{

display:flex;

justify-content:center;

gap:50px;

flex-wrap:wrap;

}

.effect-card{

background:#222;

padding:30px;

border-radius:20px;

width:320px;

}

.effect-card li{

margin:15px 0;

}

.list{

list-style:none;

font-size:25px;

}

.list li{

margin:20px;

}

footer{

padding:40px;

background:black;

text-align:center;

}
header h1{
    font-size:60px;
    font-family:'Press Start 2P', cursive;

    color:#6eff8d;

    text-shadow:
        0 0 8px #3cff75,
        0 0 16px #2aff5d,
        0 0 30px #ffd700,
        3px 3px #145a32;
}